Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Marshmallow==1.2.1
marshmallow==3.21.1
marshmallow-sqlalchemy==0.29.0

Flask-Caching==2.1.0
Flask-Limiter==3.5.0

PyJWT==2.8.0
Jose==3.0.1

flask-swagger==0.2.14
flask-swagger-ui==4.11.1

python-dotenv==1.0.1
Werkzeug==3.0.1